/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;  */

:root{
    --primary-text-color:#757575;
    --title-text-color:#212121;;
    --dark-background-text-color:#FFFFFF;
    --accent-color: #2196F3;
    --contacts-footer-text-color: rgba(255, 255, 255, 0.6);
    --btn-active-color:#188CE8;

    --logo-header-color:#000000;
    --logo-footer-color: #FFFFFF;

    --primari-background-color:#FFFFFF;
    --team-background-color: #F5F4FA;
    --dark-background-color:#2F303A;
    
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

ul,
ol{
    margin: 0;
    padding-left: 0;
}

button{
    cursor: pointer;
}

address{
    font-style: normal;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primari-background-color);
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


/* ------------------HEDER----------------- */

.header{
    background-color:var(--primari-background-color);
    border-bottom: 1px solid #ECECEC;
}

.header-container{
    display: flex;
    align-items:center;
}

.header-logo,
.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-header-color);
}
.logo-part{
    color: var(--accent-color);
}

.header-logo{
    color: var(--logo-header-color);
    margin-right: 94px;
}

.nav-list{
    display: flex;
    align-items:center;
    gap: 30px;
}

.nav-list .current{
    color: var(--accent-color);
}
.nav-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--title-text-color);

    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}

.nav-link:hover,
.nav-link:focus
{
    color:var(--accent-color);
}

.header-contacts-list{
    display: flex;
    margin-left: auto;
    gap: 50px;
}

.header-contacts{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}

.header-contacts:hover,
.header-contacts:focus{
    color: var(--accent-color);
}

/* ------------------SECTION HERO----------------- */

.section-hero{
    background-color: var(--dark-background-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--dark-background-text-color);

    max-width: 696px;
    margin: 0 auto 30px auto;
}

.hero-btn{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--dark-background-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    
    min-width: 216px;
    padding: 10px 32px;
    border:0;
    border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus{
    background-color:var(--btn-active-color);
}

/* ------------------SECTION BENEFITS----------------- */

.section-benefits {
    background-color:var(--primari-background-color);
    padding-bottom: 0;
}

.benefits-list{
    display: flex;
    gap: 30px;
}

.benefits-item{
    width: 270px;
}

.benefits-title{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);

    margin-bottom: 10px;
}

.benefits-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* ------------------SECTION ABOUT----------------- */
.section-about{
    background-color:var(--primari-background-color); 
}

.about-main-title{
    font-size: 36px;
    line-height:1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);

    margin-bottom: 50px;
}

.about-list{
    display: flex;
    gap: 30px;
}
.about-item{
    width: calc((100% - 60px) / 3); 
}

/* ------------------SECTION TEAM----------------- */

.section-team{
    background-color: var(--team-background-color); 
}

.team-list{
    display: flex;
    gap: 30px;
}
.team-item{
    background-color: var(--primari-background-color); 
    width: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; 
}

.team-main-title{
    font-size: 36px;
    line-height:1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color); 
    
    margin-bottom: 50px;
}

.team-name{
    padding-top: 30px;
    padding-bottom: 30px;
}


.team-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);

    margin-bottom: 10px
}
.team-text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* ------------------FOOTER----------------- */

.footer{
    background-color: var(--dark-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo{
    color: var(--logo-footer-color);
    display: block;
    margin-bottom: 20px;
}

.footer-contacts-item:not(:last-child) {
margin-bottom: 9px;
}

.footer-contacts{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-contacts{
    color:var(--contacts-footer-text-color);
}

.address{
    color: var(--dark-background-text-color);
}

.footer-contacts:hover,
.footer-contacts:focus{
    color: var(--accent-color);
}

/* ------------------PORTFOLIO----------------- */

.section-portfolio{
    background-color:var(--primari-background-color);
}

.filter-list{
    display: flex;
    justify-content:center;
    gap: 8px;
    margin-bottom: 50px;
}

.filter-btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    cursor: pointer;
    background-color: var(--team-background-color);

    height: 38px;
    padding: 6px 22px;
    border: 0;
    border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus{
    color: var(--dark-background-text-color); 
    background-color:var(--accent-color);
}

.portfolio-list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.portfolio-item{
    width: calc((100% - 60px) / 3);
}

.portfolio-name{
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}


.portfolio-title{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-bottom: 4px;
}

.portfolio-text{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}